h1{
  font-family: courier;
  font-size: 100px;
  text-align: center;
  color: black;

}

h2{
  font-family: courier;
  text-align: center;
}

h3{
  font-family: courier;
}
p {

  font-family: courier;
  color: black;


  background-color: powderblue;
  text-align: center;
}

div{
  text-align: center;
  border-color: black;
}

body{
  background-color: #56aed4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

select{
  align-content: center;
}

img{
  height: 50vh;
  width: 10vw;

  align-items: center;

}

#beer-data{
  text-align: center;
}
